{% extends "layout.html" %}

{% block title %}
    Project Eclipse
{% endblock %}

{% block link %}
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/bgimage.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="animate-text">Welcome to Project Eclipse!</h1>
    </div>
    <div class="point">
        <div class="point-text centered">
            <h2>Uncover the science of eclipses and explore their impact on Earth. Dive into the captivating stories of lunar and solar eclipses in a quick educational journey </h2>
        </div>
    </div>
    <div class="point" style="margin-top: 300px;">
        <div class="point-image">
            <img src="static/images/sun.jpg" alt="Sun">
        </div>
        <div class="point-text">
            <h2>Discover the science behind these awe-inspiring cosmic events!</h2>
        </div>
    </div>
    <div class="point">
        <div class="point-text right">
            <h2>Learn why eclipses happen and how they affect our planet!</h2>
        </div>
        <div class="point-image">
            <img src="static/images/earth.jpg" alt="Earth">
        </div>
    </div>
    <div class="point">
        <div class="point-image">
            <img src="static/images/telescope.jpg" alt="Earth">
        </div>
        <div class="point-text">
            <h2> Dive into the captivating stories of lunar and solar eclipses!</h2>
        </div>
    </div>
    <div class="point">
        <div class="point-text right">
            <h2> Explore the secrets of eclipse seasons and celestial alignments!</h2>
        </div>
        <div class="point-image">
            <img src="static/images/season.jpg" alt="Earth">
        </div>
    </div>
{% endblock %}