{% extends "layout.html" %}

{% block title %}
    Partial Lunar Eclipse
{% endblock %}

{% block link %}
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/edu.css" rel="stylesheet">
    <style>
        body {
            background-image: url('static/images/lunarpartial.jpg');
            background-size: cover; /* Scale the image to cover the entire body */
            background-repeat: no-repeat; /* Prevent image repetition */
            background-attachment: fixed; /* Fix the background while scrolling */
            background-position: center center;
            overflow-y: scroll;
        }
        .centertext {
            background-color: rgba(0, 0, 0, 0.5);
            color : white;
        }
    </style>
{% endblock %}

{% block body %}

<div class="container">
    <h1 class="animate-text">Partial Lunar Eclipse</h1>
</div>
<div class="h3 centertext description">
    <div class="row">
        <div class="col">
            A partial lunar eclipse is a celestial event where only a portion of the Moon passes through the Earth's shadow, resulting in a partial darkening of the lunar surface.
        </div>
        </div>
        <div class="col">
            Unlike a total lunar eclipse, in a partial lunar eclipse, the entire Moon does not enter the Earth's umbral shadow. Instead, only a part of the Moon's surface is dimmed, creating a striking visual spectacle for observers.
        </div>
    </div>
</div>

{% if image_urls %}
<div class="centertext">
    <h1 class="display-5">Partial Lunar Eclipse Images</h1>
    <p>
        Via the NASA image Library
    </p>
</div>

    <!-- Display images -->
    <div class="image-gallery">
        <div class="row">
            {% for image_url in image_urls %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card bg-dark mb-4">
                    <img src="{{ image_url }}" class="card-img-top" alt="Eclipse Image">
                    <div class="card-body">
                        <!-- Add any additional content or captions here -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}
