{% extends "layout.html" %}

{% block title %}
    Total Solar Eclipse
{% endblock %}

{% block link %}
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/edu.css" rel="stylesheet">
    <style>
        body {
            background-image: url('static/images/total.jpg');
            background-size: cover; /* Scale the image to cover the entire body */
            background-repeat: no-repeat; /* Prevent image repetition */
            background-attachment: fixed; /* Fix the background while scrolling */
            background-position: center center;
            overflow-y: scroll;
        }
        .centertext {
            background-color: rgba(0, 0, 0, 0.5);
            color : white;
        }
    </style>
{% endblock %}

{% block body %}

<div class="container">
    <h1 class="animate-text">Total Solar Eclipse</h1>
</div>
<div class="h3 centertext description">
    <div class="row">
        <div class="col">
            A total solar eclipse is a breathtaking celestial event that occurs when the Moon completely covers the Sun, casting a shadow on the Earth. 
            During this phenomenon, the Moon perfectly aligns with the Sun, blocking its light and creating a temporary twilight effect on the Earth. 
        </div>
        <div class="col">
            What sets a total solar eclipse apart is the mesmerizing view of the Sun's outer atmosphere, known as the solar corona, which becomes visible as a halo of pearly-white wisps surrounding the obscured Sun. 
            This rare event provides scientists with a unique opportunity to study the Sun's corona and its magnetic fields, as well as offering an inspiring spectacle for skywatchers.
        </div>
    </div>
</div>

{% if image_urls %}
<div class="centertext">
    <h1 class="display-5">Total Solar Eclipse Images</h1>
    <p>
        Via the NASA image Library
    </p>
</div>

    <!-- Display images -->
    <div class="image-gallery">
        <div class="row">
            {% for image_url in image_urls %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card bg-dark mb-4">
                    <img src="{{ image_url }}" class="card-img-top" alt="Eclipse Image">
                    <div class="card-body">
                        <!-- Add any additional content or captions here -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}
